svg {
    min-height: 835px;
}

div.welcome-message {
    margin: 10px auto;
}

div.welcome-message div p, div.welcome-message div h2 {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
}

div.paper {
    padding: 1rem;
}


div.contents {
    flex-direction: column;
    flex-wrap: nowrap;
}

a.con img {
    max-height: 350px;
    margin-top: 20px;
}

section.workouts {
    padding: 0.5rem;
}

div.content {
    max-width: 100%;
}

div.circle-left-top {
    margin-top: -20px;
    margin-left: -30px;
    width: 30px;
    height: 30px;
    border: 5px solid teal;
}

section.introducing {
    padding: 0.5rem;
}

a.intro-btn {
    width: 60%;
}