:root {
    --btn-bg: ;
    --bd-bg: ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.9em;
    font-family: sans-serif;
}

.container {
    max-width: 1100px;
    padding: 1rem;
    overflow: auto;
    margin: 0 auto;
}

/* UTILITIES */

.m {
    margin: 1rem;
}

.p {
    padding: 1rem;
}

.my-1 {
    margin: 20px 0;
}

.py-1 {
    margin: 20px 0;
}

.py-2 {
    padding: 40px 0;
}

.my-2 {
    margin: 40px 0;
}

.mx-1 {
    margin: 0 20px;
}

.px-1 {
    padding: 0 20px;
}

.mx-2 {
    margin: 0 40px;
}

.px-2 {
    padding: 0 40px;
}

.mt-1 {
    margin-top: 20px;
}

.pt-1 {
    margin-top: 20px;
}

.mt-2 {
    margin-top: 40px;
}

.pt-2 {
    padding-top: 40px;
}

.mb-1 {
    margin-bottom: 20px;
}

.pb-1 {
    padding-bottom: 20px;
}

.mb-2 {
    margin-bottom: 40px;
}

.pb-2 {
    padding-bottom: 40px;
}

.m-auto {
    margin: 0 auto;
}

.active {
    color: tomato;
}

/* HEADER SHOWCASE */
header {
    padding: 1rem 0;
    box-shadow: 3px 0 10px #bbb;
    height: 460px;
    position: relative;
}

div.showcase-pic {
    background: url('../img/im/image1120.png') no-repeat center center/cover;
    width: 100%;
    height: 420px;
    border-radius: 0 0 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

div.top-make {
    display: flex;
    flex-direction: column;
}

a.brand {
    padding: 0;
}

div.welcome-message {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    color: #fff;
    width: 90%;
}

a.brand img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

div.welcome-message img {
    width: 200px;
    margin: 0 auto;
}

div.welcome-message div p, div.welcome-message div h2 {
    text-align: center;
    padding: 1rem 5rem;
}

/* NAV */
nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 14;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    margin: 0 0.5rem;
    color: sandybrown;
    font-weight: bolder;
    transition: color 1s ease-in-out;
}

nav ul li a:hover {
    color: rgb(88, 18, 6);
}

/* SECTION INTRO */
section.intro-to-site {
    background: #000;
    font-size: 1.4rem;
    margin-top: 50px;
}

section.intro-to-site div {
    padding: 3.5rem 2rem;
}

section.intro-to-site div h3 {
    color: coral;
    font-size: 2rem;
}

section.intro-to-site div p {
    font-size: 1.1rem;
    color: #fff;
    line-height: 18px;
}

/* SECTION DEMO */
section.get-started {
    background: url('../img/demo.svg') no-repeat center center/cover;
    width: 100%;
    height: 400px;
}

section.get-started div.flex-sup {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.get-started h2 {
    text-align: center;
    color: #fff;
}

div.btn-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.btn-sec div.hov {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem ;
    width: fit-content;
}

div.btn-sec div.circle {
    border-radius: 50%;
    background: linear-gradient(to right, coral, cyan);
    padding: 1.4rem;
    width: 5%;
    border: 5px solid #000;
    z-index: 1;
}

div.btn-sec a {
    padding: 1rem 2rem;
    color: #fff;
    background: tomato;
    margin-left: -16px;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 20px;
}

div.hov:hover div.circle {
    border-top: 5px solid teal;
    border-right: 5px solid #fff;
    border-bottom: 5px solid teal;
    border-left: 5px solid #fff;
    animation: rotate;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(180deg);
    }
}

/* SECTION  WORKOUTS*/
section.workouts {
    background: url('../img/bck.svg') no-repeat center center/cover;
    max-width: 100%;
    height: fit-content;
    padding: 5rem;
}

div.content {
    max-width: 40%;
    font-size: 1.2rem;
    background: teal;
    border-radius: 15px;
    margin-top: 50px;
    color: #fff;
}

div.circle-left-top {
    margin-top: -50px;
    margin-left: -60px;
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 20px solid teal;
}

div.content li {
    list-style: none;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(22, 202, 202);
}

div.comment-parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a.comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    width: fit-content;
}

span.comment-count {
    margin: 0 0.2rem;
    font-weight: bolder;
    transition: color 2s ease-in-out;
}

a.comment:hover .comment-count {
    animation: color-change;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes color-change {
    0% {
        color: #000;
    }

    50% {
        color: lightsalmon;
    }

    100% {
        color: #000;
    }
}

/* SECTION WHAT WE OFFER */

div.h, div.st, div.me {
    background: coral;
    color: #fff;
    text-align: center;
    font-size: xx-large;
    padding: 8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: -3;
}

div.h h2, div.st h2, div.me h2 {
    margin-right: 40px;
}

div.h a {
    text-decoration: none;
}

div.st {
    background: #000;
}

div.me {
    background: rgb(3, 155, 155);
}

div.z-in {
    z-index: 2;
    margin-top: -100px;
}

div.paper {
    background: #fff;
    box-shadow: 1px 1px 3px #ccc, -1px 0px 3px #ccc;
    padding: 1rem 5rem;
}

div.contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a.con {
    max-width: 100%;
    margin: 0.3rem;
    flex: 1;
    text-decoration: none;
    color: #000;
}

a.con img {
    width: 100%;
    max-height: 150px;
}

/* SECTION FIND GYM */
div.find-a-gym {
    background: #000;
    color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

div.findlink {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

div.find-a-gym a {
    background: teal;
    padding: 0.5rem;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

div.find-a-gym a:hover {
    background: rgb(3, 155, 155);
}

/* SECTION INTRODUCING */
section.introducing {
    background: #000;
    color: tomato;
    padding: 4rem;
}

div.intro-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #fff;
}

div.online-game h2 {
    color: #fff;
}

a.intro-btn {
    width: 15%;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: tomato;
}

a.intro-btn:hover {
    background: rgb(170, 53, 32);
}

/* section FIT NEAR YOU */
section.fit-near-you h2.f-head {
    text-align: center;
}

div.fits-closeby {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.fit {
    flex: 1;
    margin: 1rem;
    max-width: 100%;
    background: #000;
    color: #fff;
    padding: 2rem;
}

div.fit p {
    margin: 1rem 0;
}

.fit h2 {
    color: tomato;
}

.fit a {
    padding: 0.5rem;
    background: tomato;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.fit a:hover {
    background: rgb(75, 18, 8);
}

/* FOOTER */
footer {
    background: #000;
    color: #fff;
    text-align: center;
}
